[submodule "zenzebu/spdlog"]
	path = zenzebu/spdlog
	url = https://github.com/gabime/spdlog
	branch = v1.x
[submodule "zenzebu/lua"]
	path = zenzebu/lua
	url = https://github.com/nullium21/zenzebu-lua
	branch = v5.4.0
[submodule "zenzebu/entt"]
	path = zenzebu/entt
	url = https://github.com/skypjack/entt
[submodule "premake/export-compile-commands"]
	path = premake/export-compile-commands
	url = https://github.com/tarruda/premake-export-compile-commands
